@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.homepagepurple{
    /* Black BG */
  
  position: absolute;
  width: 100%;
  
  left: 0px;
  top: 6618px;
  right: 0px;
  
  background: #C9CBE2;
  
  
  
      height: 75vh;
  
  }
  @media (max-width: 700px) {
      .homepagepurple {
        margin-left: 10px;
        padding-right: 2000px;
        
      }
  }
  @media (max-width: 360px) {
      .homepagepurple {
        margin-left: 0px;
        padding-right: 1440px;
        padding-bottom: 600px;
      }
      .paypal1{
          
    }
  }
  @media (max-width: 380px){
    .homepagepurple {
        
        margin-left: -30px;
        padding-right: 1500px;
        padding-bottom: 600px;
      }
  }
  .topcomp{
      /* Top Companies Hiring */
  
  
  width: 1005px;
  height: 98px;
  margin-left: 162px;
  top: 68px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 800px;
  font-size: 60px;
  line-height: 98px;
  /* identical to box height, or 136% */
  
  font-feature-settings: 'salt' on, 'liga' off;
  color: #090d33;
  
  
  
  }
  .redfont{
      /* Section Title */
  
  position: static;
  width: 445px;
  height: 82px;
  left: 0px;
  top: 0px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 41px;
  /* or 114% */
  
  
  color: #F26A7E;
  
  
  /* Inside Auto Layout */
  
  }
  .belowred{
      /* Description */
  
  position: absolute;
  width: 565px;
  height: 32px;
  left: 162px;
  top: 339px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
  font-feature-settings: 'salt' on, 'liga' off;
  
  color: #404366;
  
  
  }
  .paypal1{
  /* Logo 5 */
  
  width: 81.57px;
  height: 81.57px;
  margin-left: 900px;
  margin-top: -2em;
  
  filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  
  
  
  }
  .paypal2{
      width: 81.57px;
  height: 81.57px;
  margin-left: 900px;
  margin-top: 122px;
  
  
  filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  
  }
  .mc{
      /* Logo 6 */
  
      width: 81.57px;
      height: 81.57px;
      margin-left: 1039px;
      margin-top: -5em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  
  /* Inside Auto Layout */
  
  
  }
  .mc2{
      width: 81.57px;
      height: 81.57px;
      margin-left: 1039px;
      margin-top: 2.2em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  }
  .slack{
      width: 81.57px;
      height: 81.57px;
      margin-left: 959px;
      margin-top: -3.25em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  }
  .blue{
      width: 81.57px;
      height: 81.57px;
      margin-left: 839px;
      margin-top: -1.2em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  
  }
  .gm{
      width: 81.57px;
      height: 81.57px;
      margin-left: 1059px;
      margin-top: -1.41em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  }
  .db{
      width: 81.57px;
      height: 81.57px;
      margin-left: 1189px;
      margin-top: -1.41em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  }
  .db :hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .gm:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .mc:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .slack:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .blue:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .paypal1:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .paypal2:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .mc:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .mc2:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .sf{
      width: 81.57px;
      height: 81.57px;
      margin-left: 1159px;
      margin-top: -3.1em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  }
  .sf:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }
  .sf2{
      width: 81.57px;
      height: 81.57px;
      margin-left: 1159px;
      margin-top: 2.2em;
      
      
      filter: drop-shadow(0px 9.30838px 18.6168px rgba(41, 41, 42, 0.07));
  }
  .sf2:hover{
      transform: scale(1.1);
      transition-duration: 0.5s;
  }

  .join{
      /* button/big/hover */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 17px 35px;

position: absolute;
width: 161px;
height: 53px;
left: 169px;
top: 473px;
border-style: none;
background: #F26A7E;
border-radius: 6px;
font-family: Inter;
color: white;
/* label */
  }
